@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
}

@media (max-width:300px) and (max-height:320px) {
    #outer-div {
        width: 300px;
        height: 320px;
    }

    #inner-div {
        width: 300px;
        height: 320px;
        padding: 1rem 1.5rem;
        border-radius: 0%;
    }

    #copy-div {
        margin-top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 91%;
    }

    #copy-btn {
        padding: 0.5rem 0;
    }

    #options-div {
        margin-top: 0px;
        width: 91%;
    }

    #range-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
